body{ background:url(../Pascual/image/25.png);line-height: 1.6em; font-size:1.2rem;margin:0;font-family:calibri;}
.header {
    background: black;
    list-style: none;
    width: 100%;
    height: 100px;
    position: fixed; 
    overflow: hidden;
    padding: 0;
}
.wrapper{
    width: 20%;
    max-width: 1000px;
    margin:center;
    overflow: hidden; 
}
.header .logo{
    font-family:century;
    color: white;
    font-size: 40px;
    line-height: 100px;
    float: left;
    padding: 0 100px;
}
		.header nav{
			width: 50%;
			float: right; 
			line-height: 70px;
			text-decoration: none;
			color: white;
			font-size: 65px;  
		} 
		.header nav a{
		  display:inline-block; 
		  text-decoration: none;
		  font-size:14px;
		  color: white;
		  padding: 10px 40px;
		  line-height: normal;
		  font-weight:bold ;
		  -webkit-transtition:all 50ms ease;
		  -o-transition:all 50ms ease ;
		  transition:all 50ms ease ;
		  position:relative;
		  display:inline-block;
		  text-transform:uppercase;
		  overflow: hidden;
		  transition:0.2;
		}
		
		.header nav a:hover{
			background:#84E3D3;
			/*box-shadow:0 0 10px #349383, 0 0 40px #349383, 0 0 80px #349383;*/
			transition-delay:1s;
		} 

		.header nav a span{
			position:absolute;
			display:block;
		}

		.header nav a span:nth-child(1){
			top:0;
			left:-100%;
			width:100%;
			height: 2px;
			background:linear-gradient(90deg,transparent, #9DFCEC);
		}

		.header nav a:hover span:nth-child(1){
			left:100%;
			transition:1s;
		}

		.header nav a span:nth-child(3){
			bottom:0;
			right:-100%;
			width:100%;
			height: 2px;
			background:linear-gradient(270deg,transparent, #9DFCEC);
		}

		.header nav a:hover span:nth-child(3){
			right:100%;
			transition:1s;
			transition-delay:0.5s;
		}

		.header nav a span:nth-child(2){
			top:-100%;
			right:0%;
			width:2px;
			height: 100%;
			background:linear-gradient(180deg,transparent, #9DFCEC);
		}

		.header nav a:hover span:nth-child(2){
			top:100%;
			transition:1s;
			transition-delay:0.25s;
		}

		.header nav a span:nth-child(4){
			bottom:-100%;
			left:0%;
			width:2px;
			height: 100%;
			background:linear-gradient(360deg,transparent, #9DFCEC);
		}

		.header nav a:hover span:nth-child(4){
			bottom:100%;
			transition:1s;
			transition-delay:0.75s;
		}

.footer {
    background:black;
    width: 100%;
    height: 50px
    bottom: 0;
    position: static;
   
}
.contenedor{
    width: 85%;
    margin: 3em 5rem;
}
.contenedor p{
    font-size: 40px;
    text-align: center;
}
.contenedor p1{
    font-size: 90px; 
    font-family: Showcard Gothic;
}
.main .conteenedor{
    width: 85%;
    margin: 3em 5rem;
    font-size: 20px;
}
.footer .contaainer{
    display: flex;
    flex-wrap:wrap ;
    justify-content: center;
}
.copy{
    font-size:15px;
    text-align: center;
}
        
.sociales{
    width: 100%;
    text-align: center;
    font-size: 25px;
}
.sociales img{
    padding: 10px;
}
.sociales p{
    font-size: 20px;
    font-family: calibri;
    margin: 0.1rem;
}